﻿@model UrlShortener.web.Models.CreateShortenUrlModel

@{
    ViewData["Title"] = "Home Page";
}


<form asp-action="create">
    <input class="col-6" asp-for="Url" />
    <button type="submit">Shorten</button>
</form>

