﻿@model ShortenedUrlModel

@{
    ViewData["Title"] = "Resolve";
}

<div class="alert alert-primary" role="alert">
    @Model.Url
</div>
<div class="alert alert-success" role="alert">
    @Model.ShortUrl
</div>